<h1>Edit Review</h1>

<h3>Book Title: </h3> <p><%=@review.book[:book_name]%></p>
<h3>Author: </h3> <p><%=@review.book[:book_author]%></p>
<h3>Genre: </h3> <p><%=@review.book[:book_genre]%></p>

<form method="POST" action="/review/<%=@review.id%>">
<input type="hidden" name="_method" value="PATCH">

<label for="review_title">Title of Review: <label><br>
<input type="text" name="review[review_title]" value=<%=@review.review_title%>>

<br><br>

<label for="book_review">Write Review Below:</label>
<br>
<textarea type="text" name="review[book_review]" cols="60" rows="12"><%=@review.book_review%></textarea>
<br><br>

<input type="submit" value="Update Review" >

</form>