<h1><%=@review.review_title%></h1>
<p>By <%=@review.user[:username]%></p>

<br><br>

<h4>Book Title: <%=@review.book_name%></h4>
<P>by <%=@review.book_author%></P>

<br><br>

<p><%=@review.book_review%></p>

<br><br>
<%if current_user.id == @review.user_id%>
<a href="/review/edit/<%=@review.user[:id]%>"><button>Edit Review</button></a>
<%end%>
