<h1><%=@review.review_title%></h1>
<p>By <%=@review.user[:username]%></p>

<br><br>

<h4>Book Title: <%=@review.book[:book_name]%></h4>
<P>by <%=@review.book[:book_author]%></P>

<br><br>

<p><%=@review.book_review%></p>
<br><br>
<%if logged_in? && current_user.id == @review.user_id%>
<a href="/review/edit/<%=@review.id%>"><button>Edit Review</button></a>

<form method="POST" action="/review/<%=@review.id%>">
<input type="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete Review">
</form>
<%end%>