<h1>List of Reviews for <%=@book.book_name%></h1>
<h5><%= @book.book_author %></h5>
<h5><%= @book.book_genre %></h5>
<br>
<% @book.each do |book|%>
<h3><%=book.reviews[:review_title]%></h3>>
<p>by <%=book.users[:username]%></p>
<% end %>