<!DOCTYPE html>
<html>
<head>
<title>Bookmarked Welcome Page</title>
</head>
<body>
<h1>Welcome to Bookmarked!</h1>
 
<h3>This is where you can review the books you have read or read other reviews to find your next book!</h3>
<% if logged_in? %>
<p>Welcome <%=current_user.username%>. Would you like to <a href="/reviews/new">create a new review</a>?</p>
<%else%>
<P>To write your own review <a href = '/login'>log in</a> or <a href = '/signup'>sign up.</a></P>
<%end%>
<br>
<p>Click to view:</p>
<ul>
    <li><a href="/readers">Readers</a></li>
    <li><a href="/reviews">Reviews</a></li>
</ul>
<br><br>
<h1>List of Books: </h1>
<%@books.each do |book|%>
    <h2><%=book.book_name%></h2> 
    <p> by <%=book.book_author%></p>
    <p><%=book.book_genre%></p>
    <p><a href="/book/<%=book.id%>">Click to see reviiews</a></p>
<%end%>
</body>
</html>

